<!DOCTYPE html>
<html>
	<head>
		<title>TCP Top Ten</title>
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAEJtfN76sLpcqyUjfZcUslAm_KypmMXCk&sensor=true" %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="wrapper">
		<div id="scan_counter">
		</div>
			<div id="header">
				<%= image_tag("crosshair.png") %>
				<h1>TCP Top Ten</h1>
			</div>
			<div class="sidebar">
				<h2>Main Menu</h2>
				<h4>Search</h4>
				<div id="search_container">
				<%= form_tag(search_path, :method => "post", :id => 'search_form') do %>
					<%= text_field_tag :query %>
					<%= submit_tag("Search") %>
				<% end %>
				</div>

				<%=link_to "Home", root_path, :class => 'sidebar_link' %>
				<div class="line_seperator"></div>
				<%= link_to "Stats", stats_path, :class => 'sidebar_link' %>
				<%=link_to "All Scans", scans_path, :class => 'sidebar_link' %>
				<div class="line_seperator"></div>
				<% if user_signed_in? %>
					<h5><%= current_user.email %></h5>
					<%=link_to "New Scan", new_scan_path, :class => 'sidebar_link_green' %>
					<%=link_to "My Scans", myscans_path, :class => 'sidebar_link_blue' %>
					<%=link_to "Sign Out", destroy_user_session_path, :class => 'sidebar_link_red', :method => 'delete'%>
				<% else %>
					<%=link_to "Sign In", new_user_session_path, :class => 'sidebar_link_green'%>
					<%=link_to "Sign Up", new_user_registration_path, :class => 'sidebar_link_blue'%>
				<% end %>
			</div>
			<div class="content">
				<% if alert %>
					<div class="alert"><%= alert %></div>
				<% end %>

				<% if notice %>
					<div class="notice"><%= notice %></div>
				<% end %>

				<%= yield %>
			</div>

			<div id="clear"></div>
			<div id="footer">
				<a href="mailto:kluce4@mail.csuchico.edu">Kyle G. Luce  |  CINS 465  |  Fall 2013</a>
			</div>
		</div>
	</body>
</html>
