<!DOCTYPE html>
<html>
	<head>
		<title>TCP Top Ten</title>
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="wrapper">
		<div id="scan_counter">
			<a href="#">23 Hosts Scanned</a>
		</div>
			<div id="header">
				<%= image_tag("crosshair.png") %>
				<h1>TCP Top Ten</h1>
			</div>
			<div class="sidebar">
				<h2>Main Menu</h2>
				<%=link_to "About TTTCP", root_path, :class => 'sidebar_link' %>
				<a class="sidebar_link" href="/">Stats</a>
				<%=link_to "All Scans", scans_path, :class => 'sidebar_link' %>
				<a class="sidebar_link" href="/">Search</a>
				<% if user_signed_in? %>
					<%=link_to "My Scans", myscans_path, :class => 'sidebar_link' %>
					<%=link_to "Sign Out", destroy_user_session_path, :class => 'sidebar_link', :method => 'delete'%>
				<% else %>
					<%=link_to "Sign In", new_user_session_path, :class => 'sidebar_link'%>
					<%=link_to "Sign Up", new_user_registration_path, :class => 'sidebar_link'%>
				<% end %>
			</div>
			<div class="content">
				<%= yield %>
			</div>
			<div id="clear"></div>
			<div id="footer">
				<a href="http://www.nomadmtb.com">Kyle G. Luce  |  CINS 465  |  Fall 2013</a>
			</div>
		</div>
	</body>
</html>
