<%= form_for(@open_port) do |f| %>
  <% if @open_port.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@open_port.errors.count, "error") %> prohibited this open_port from being saved:</h2>

      <ul>
      <% @open_port.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :scan %><br>
    <%= f.text_field :scan %>
  </div>
  <div class="field">
    <%= f.label :port %><br>
    <%= f.number_field :port %>
  </div>
  <div class="field">
    <%= f.label :service %><br>
    <%= f.text_field :service %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
