<%= form_for(@raw_scan) do |f| %>
  <% if @raw_scan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@raw_scan.errors.count, "error") %> prohibited this raw_scan from being saved:</h2>

      <ul>
      <% @raw_scan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :scan %><br>
    <%= f.text_field :scan %>
  </div>
  <div class="field">
    <%= f.label :raw_xml %><br>
    <%= f.text_area :raw_xml %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
