<h1>Listing raw_scans</h1>

<table>
  <thead>
    <tr>
      <th>Scan</th>
      <th>Raw xml</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @raw_scans.each do |raw_scan| %>
      <tr>
        <td><%= raw_scan.scan %></td>
        <td><%= raw_scan.raw_xml %></td>
        <td><%= link_to 'Show', raw_scan %></td>
        <td><%= link_to 'Edit', edit_raw_scan_path(raw_scan) %></td>
        <td><%= link_to 'Destroy', raw_scan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Raw scan', new_raw_scan_path %>
