<p id="notice"><%= notice %></p>

<p>
  <strong>Scan:</strong>
  <%= @raw_scan.scan %>
</p>

<p>
  <strong>Raw xml:</strong>
  <%= @raw_scan.raw_xml %>
</p>

<%= link_to 'Edit', edit_raw_scan_path(@raw_scan) %> |
<%= link_to 'Back', raw_scans_path %>
