<p id="notice"><%= notice %></p>
<h1><%= @scan.ip_address %><span class="subtitle"> <%= @scan.scan_date.month.to_s + '-' + @scan.scan_date.day.to_s + '-' + @scan.scan_date.year.to_s %></span></h1>
<div class="push_right">
	<table class="scan_results">
		<tr><th>Date</th>
			<td><%= @scan.scan_date.month.to_s + '-' + @scan.scan_date.day.to_s + '-' + @scan.scan_date.year.to_s + ' : ' + @scan.scan_date.strftime("%r") %></td>
		</tr>
		<tr><th>Host IP</th>
			<td><%= @scan.ip_address %></td>
		</tr>
		<tr><th>DNS Ptr</th>
			<td><%= @scan.domain_name_ptr %></td>
		</tr>
		<tr><th>Status</th>
			<td><%= @scan.status %></td>
		</tr>
		<tr><th>Duration</th>
			<td><%= @scan.elapsed %>s</td>
		</tr>
		<tr><th>Location</th>
			<td><a target="_blank" href="http://maps.google.com?q=<%= @scan.latitude + ',' + @scan.longitude %>"><%= @scan.latitude + ',' + @scan.longitude %></a></td>
		</tr>
		<tr><th>User</th>
			<td><%= @scan.user.email %></td>
		</tr>
	</table>
  </div> <!-- End of push-right -->

<div id="map-canvas" lat="<%= @scan.latitude %>" long="<%= @scan.longitude %>"></div>

<%= link_to 'Edit', edit_scan_path(@scan) %> |
<%= link_to 'Back', scans_path %>
