<div class="page_wrap">
	<h1 class="about_title">Scan Statistics</h1>
	<div class="push_right">
		<table class="stat_sum">
			<tr>
				<td>Number of Hosts Scanned</td>
				<td><b><%= @host_count %></b></td>
			</tr>
			<tr>
				<td>Number of Open Ports Detected</td>
				<td><b><%= @port_count %></b></td>
			</tr>
			<tr>
				<td>Average Number of Open Ports Per Scan</td>
				<td><b><%= @ports_per_host %></b></td>
			</tr>
		</table>

		<table class="stat_sum">
			<tr>
				<th>Service/Port</th>
				<th>Number of Hosts</th>
				<th>Percent of Scanned Hosts</th>
			</tr>

			<tr>
				<td>21 / FTP</td>
				<td><b><%= @ftp_num %></b></td>
				<td><b><%= @ftp_percent %></b></td>
			</tr>

			<tr>
				<td>22 / SSH</td>
				<td><b><%= @ssh_num %></b></td>
				<td><b><%= @ssh_percent %></b></td>
			</tr>

			<tr>
				<td>23 / TELNET</td>
				<td><b><%= @telnet_num %></b></td>
				<td><b><%= @telnet_percent %></b></td>
			</tr>

			<tr>
				<td>25 / SMTP</td>
				<td><b><%= @smtp_num %></b></td>
				<td><b><%= @smtp_percent %></b></td>
			</tr>

			<tr>
				<td>80 / HTTP</td>
				<td><b><%= @http_num %></b></td>
				<td><b><%= @http_percent %></b></td>
			</tr>

			<tr>
				<td>110 / POP3</td>
				<td><b><%= @pop3_num %></b></td>
				<td><b><%= @pop3_percent %></b></td>
			</tr>

			<tr>
				<td>139 / NetBIOS</td>
				<td><b><%= @netbios_num %></b></td>
				<td><b><%= @netbios_percent %></b></td>
			</tr>

			<tr>
				<td>443 / HTTPS</td>
				<td><b><%= @https_num %></b></td>
				<td><b><%= @https_percent %></b></td>
			</tr>

			<tr>
				<td>445 / SMB</td>
				<td><b><%= @smb_num %></b></td>
				<td><b><%= @smb_percent %></b></td>
			</tr>

			<tr>
				<td>3389 / RDP</td>
				<td><b><%= @rdp_num %></b></td>
				<td><b><%= @rdp_percent %></b></td>
			</tr>
		</table>
	</div>
</div>
