<div class="push_right">
	<h2>Scan Count <%= @host_count %></h2>
	<h2>Open Ports Detected <%= @port_count %></h2>
	<h2>Ave Ports Per Host <%= @ports_per_host %></h2>
	<h2>FTP Count <%= @ftp_num %></h2>
	<h2>FTP Percent <%= @ftp_percent %></h2>
	<h2>SSH Count <%= @ssh_num %></h2>
	<h2>SSH Percent <%= @ssh_percent %></h2>
	<h2>TELNET Count <%= @telnet_num %></h2>
	<h2>TELNET Percent <%= @telnet_percent %></h2>
	<h2>SMTP Count <%= @smtp_num %></h2>
	<h2>SMTP Percent <%= @smtp_percent %></h2>
	<h2>HTTP Count <%= @http_num %></h2>
	<h2>HTTP Percent <%= @http_percent %></h2>
	<h2>POP3 Count <%= @pop3_num %></h2>
	<h2>POP3 Percent <%= @pop3_percent %></h2>
	<h2>NETBIOS Count <%= @netbios_num %></h2>
	<h2>NETBIOS Percent <%= @netbios_percent %></h2>
	<h2>HTTPS Count <%= @https_num %></h2>
	<h2>HTTPS Percent <%= @https_percent %></h2>
	<h2>SMB Count <%= @smb_num %></h2>
	<h2>SMB Percent <%= @smb_percent %></h2>
	<h2>RDP Count <%= @rdp_num %></h2>
	<h2>RDP Percent <%= @rdp_percent %></h2>
</div>
